@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
* {
  background-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @keyframes blurDown {
    0% {
      opacity: 0;
      filter: blur(6px);
      transform: translateY(-20px) translateZ(0px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0) translateZ(0px);
    }
  }
  
  .animate-blur-down {
    animation: blurDown 1s ease-out forwards;
  }
  
  
  
  
}
